@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&family=Rancho&family=Roboto:ital,wght@0,500;0,700;1,300&family=Rowdies:wght@300;400;700&family=Titillium+Web:wght@300;400;700&family=Ubuntu:ital,wght@0,500;0,700;1,300&display=swap');

.service {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #094b65;
    .conatainer {
        padding-top: 3rem;
        padding-bottom: 3rem;
        position: relative;
        width: 1200px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
       
        .serviceBox {
            position: relative;
            width: 350px;
            height: 280px;
            background: #446674;
            overflow: hidden;
            &:hover .icon {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                top: 30px;
                left: calc(50% - 40px);
            }
            .icon {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: 0.5s;
                display: flex;
                justify-content: center;
                align-items: center;
                background: rebeccapurple;
                z-index: 2;
                i {
                    font-size: 3rem;
                    color: white;
                }
            }
            .content {
                position: relative;
                padding: 20px;
                text-align: center;
                margin-top: 100px;
                z-index: 1;
                color: white;
                h2 {
                    margin-top: 10px;
                    margin-bottom: 5px;
                    @include titleText(3rem);
                    color: white;
                }
                p {
                    font-weight: 300;
                    line-height: 1.5;
                    @include titleText(1.2rem);
                    color: white;
                }
            }
        }
    }
}